<!DOCTYPE html>
<html>
    <head>
        <title>
            HTML5 Layouts
        </title>
    </head>

    <body>
<!-- 
        <div id="header">
            <h1>
                This is our forum page! Welcome!
            </h1>
        </div>
       
        <div id="topic_section"> 
            <h2>
                JS Tutorials
            </h2>
            <p>
                Hi guys! I am interested in learning JS, can you tell me some good tutorials for beginners!
            </p>
        </div>

        <hr>

        <div id="first_comment">
            <div id="first_user_info">
                <img src="./img/img_avatar.png" alt="Avatar image of the user" width="70px">
                <h5>Martin Panovski</h5>
            </div>
            <div id="first_user_comment">
                <p>
                    Hi there User! You can visit udemy.com, I think there are many usefull tutorials! Just 
                    filter them by rating, so that you get the best!
                </p>
            </div>
        </div>

        <div id="second_comment">
            <div id="second_user_info">
                <img src="./img/img_avatar.png" alt="Avatar image of the user" width="70px">
                <h5>Martin Panovski</h5>
            </div>
            <div id="second_user_comment">
                <p>
                    Hi there User! You can visit udemy.com, I think there are many usefull tutorials! Just 
                    filter them by rating, so that you get the best!
                </p>
            </div>
        </div>

        <div id="third_comment">
            <div id="third_user_info">
                <img src="./img/img_avatar.png" alt="Avatar image of the user" width="70px">
                <h5>Martin Panovski</h5>
            </div>
            <div id="third_user_comment">
                <p>
                    Hi there User! You can visit 

                    <span id="udemy_link"> udemy.com </span>, 
                    
                    I think there are many usefull tutorials! Just 
                    filter them by rating, so that you get the best!
                </p>
            </div>
        </div>

        <br>
        <br>
        <hr> -->

        <div id="page-content">
            <header>
                <img src="./img/img_avatar.png" alt="" width="100px">
                <h1>
                    Welcome to our store!
                </h1>
                <nav>
                    <div id="navigation">
                        <ul>
                            <li>Home</li>
                            <li>About us</li>
                            <li>Contact</li>
                        </ul>
                    </div>
                    <div id="login-form">
                        <form action="" method="POST">
                            <label for="username">Username</label>
                            <input type="text" name="username">
                            <label for="password">Password</label>
                            <input type="text" name="password">
                            <input type="submit" value="Login">
                        </form>
                    </div>
                </nav>
            </header>
    
            <div id="main">
                <section>
                    <article>
                        <h2>
                            Article 1
                        </h2>
                        <p>This is the text from the first article</p>
                    </article>
                    <article>
                        <h2>
                            Article 2
                        </h2>
                        <p>This is the text from the second article</p>
                    </article>
                </section>
                <aside>
                    <h2>Top rated products</h2>
                    <ul>
                        <li>Product 1</li>
                        <li>Product 2</li>
                        <li>Product 3</li>
                        <li>Product 4</li>
                        <li>Product 5</li>
                    </ul>
                </aside>
            </div>
    
    
    
    
            <footer>
                &#xa9; 2019 Martin's awesome store
            </footer>
    
        </div>
        
    </body>
</html>